<header>
    <ul>
        <li><a href="#">На главную</a></li>
        <li><a href="#boards/1">Доска</a></li>
        <li><a href="#library">Библиотека</a></li>
        <li><a href="#constructor/1">Элемент 1</a></li>
        <li><a href="#constructor/2">Элемент 2</a></li>
        <% if (isAdmin) { %>
            <li><a href="#settings">Настройки</a></li>
        <% } %>
        <li><a href="/logout">Выход</a></li>
    </ul>
</header>
    <div id="Fripple-app-content">
        <h1>No widgets loaded</h1>
    </div>
<footer></footer>